<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../../assets/images/pecan_cupcakes.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/bacon_bbq_burger.jpg"  alt="Random second slide">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/banofee_pie.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>
