<div class="text_container">
    <h2 class="">Call us for delivery</h2>
    <div class="address">
      <address class="address">
        <strong>FRDC Building</strong>  <br/>
        106 E. Rodriguez Ave, Pasig City <br/>
        9140833 / 571-1541
      </address>

      <address>
        <strong>Tropical Palms Condominium</strong><br/>
        Legaspi Village, Makati City <br/>
        840-4299 / 894-3598
      </address>

      <address>
        <strong>2/F O Square Building</strong><br/>
        Greenhills Shopping Center, San Juan City<br/>
        0921-5737710
      </address>

      <address>
        <strong>South Triangle, Quezon City</strong><br/>
        (Across ABS-CBN)<br/>
        332-3080 / 332-3579
      </address>
    </div>
  </div>

