<ngb-tabset type="pills" justify="fill">
  <ngb-tab title="Menu">
    <ng-template ngbTabContent class="ng_tab">
      <div class="logo_container">
        <img id="logo" [src]="logoUrl">
        <div class="block_container">
          <p id="down">Down</p>
          <p id="home">home</p>
          <p id="good">good!</p>
        </div>
      </div>
      <h1 class="text-center">BAKERY & CAF&#201;</h1>
      <hr/>
      <div id="carousel">
      <app-carousel></app-carousel>
      </div>
      <hr/>
      <app-contact-us></app-contact-us>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="About Us">
    <ng-template ngbTabContent>
      <div class="logo_container">
      <img id="logo" [src]="logoUrl">
      <div class="block_container">
        <p id="down">Down</p>
        <p id="home">home</p>
        <p id="good">good!</p>
      </div>
    </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Functions">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

